{
  "StartAt": "Run Job",
  "States": {
    "Run Job": {
      "Next": "success",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "fail"
        }
      ],
      "Type": "Task",
      "ResultPath": "$.RunTask",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "Cluster": "${cluster_arn}",
        "TaskDefinition": "${task_definition_arn}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "SecurityGroups": ${jsonencode(security_groups)},
            "Subnets": ${jsonencode(subnets)}
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            
          ]
        },
        "LaunchType": "FARGATE",
        "PlatformVersion": "LATEST"
      }
    },
    "success": {
      "Type": "Succeed"
    },
    "fail": {
      "Type": "Fail"
    }
  }
}