
# IDE
.idea/
.vscode/

# DotNet
bin/
obj/
*.DotSettings.*

# Node
node_modules/
npm-debug.log*
.env.local
.env.*.local
.next

# Publish
build/
dist/
out/

# Tools
.eventcatalog-core
.terraform
terraform.tfstate
terraform.*.backup
serverless.template

# System
.DS_Store

