{
    "StartAt": "Configure",
    "States": {
      "Configure": {
        "Type": "Pass",
        "Result": {
          "nextContinuationToken": ""
        },
        "ResultPath": "$.iterator",
        "Next": "List and yield keys"
      },
      "List and yield keys": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
          "Payload": {
            "nextContinuationToken.$": "$.iterator.nextContinuationToken",
            "prefix.$": ${jsonencode(prefix)},
            "keyBatchingSize.$": ${jsonencode(keys_batching_size)}
          },
          "FunctionName": ${jsonencode(list_ssot_keys_function_name)}
        },
        "ResultPath": "$",
        "OutputPath": "$.Payload",
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "HasNextElements"
      },
      "HasNextElements": {
        "Type": "Choice",
        "Choices": [
          {
            "Not": {
              "Variable": "$.iterator.nextContinuationToken",
              "StringEquals": ""
            },
            "Next": "List and yield keys"
          }
        ],
        "Default": "Done"
      },
      "Done": {
        "Type": "Pass",
        "End": true
      }
    }
}